<?xml version="1.0" ?>
<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_description)/urdf/test.trans" />
<xacro:include filename="$(find test_description)/urdf/test.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.021316804683177287 -7.765789818716328e-05 0.11680242483036997"/>
    <mass value="37.96909098657904"/>
    <inertia ixx="2.855292" ixy="-0.000218" ixz="0.020463" iyy="2.013724" iyz="-5.1e-05" izz="4.534599"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hand_r1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.08856942644447896 0.07181513355952307 0.009432506054621037"/>
    <mass value="1.992071699598962"/>
    <inertia ixx="0.008762" ixy="0.004067" ixz="0.00078" iyy="0.007241" iyz="-0.000684" izz="0.012744"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.358862 -0.261568 -0.128"/>
    <geometry>
      <mesh filename="test_description/meshes/hand_r1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.358862 -0.261568 -0.128"/>
    <geometry>
      <mesh filename="test_description/meshes/hand_r1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hand_l1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.10504616820732332 -0.04435389697471692 0.00943250589363337"/>
    <mass value="1.9920716995989645"/>
    <inertia ixx="0.004201" ixy="-0.001634" ixz="0.00097" iyy="0.011802" iyz="0.000366" izz="0.012744"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.358862 0.261568 -0.128"/>
    <geometry>
      <mesh filename="test_description/meshes/hand_l1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.358862 0.261568 -0.128"/>
    <geometry>
      <mesh filename="test_description/meshes/hand_l1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_lf1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.01716683857684738 -0.10922768608213945 0.009112915438197727"/>
    <mass value="1.917075289764596"/>
    <inertia ixx="0.011328" ixy="0.000121" ixz="0.000122" iyy="0.003681" iyz="0.000974" izz="0.011782"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.120405 0.38674 -0.128"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lf1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.120405 0.38674 -0.128"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lf1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_lr1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.08517142560160573 -0.07050608600546232 0.009112915437865743"/>
    <mass value="1.9170752897645942"/>
    <inertia ixx="0.005567" ixy="0.003298" ixz="-0.000775" iyy="0.009442" iyz="0.000602" izz="0.011782"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.271368 0.376665 -0.128"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lr1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.271368 0.376665 -0.128"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lr1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_rr1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.06317641230444476 0.09074149823739913 0.009112915437883867"/>
    <mass value="1.9170752897645944"/>
    <inertia ixx="0.009962" ixy="-0.002931" ixz="-0.000536" iyy="0.005047" iyz="-0.000822" izz="0.011782"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.271368 -0.376665 -0.128"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rr1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.271368 -0.376665 -0.128"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rr1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_rf1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.040765121227278725 0.08387766489718274 0.009112915438211217"/>
    <mass value="1.9170752897645935"/>
    <inertia ixx="0.008899" ixy="0.003562" ixz="0.000434" iyy="0.00611" iyz="-0.00088" izz="0.011782"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.120405 -0.38674 -0.128"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rf1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.120405 -0.38674 -0.128"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rf1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hand_r2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.09042326788523569 -0.02847228524868073 3.0876526431355966e-05"/>
    <mass value="5.421748809155187"/>
    <inertia ixx="0.041574" ixy="0.011832" ixz="1e-05" iyy="0.05313" iyz="4e-06" izz="0.085514"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.480626 -0.427921 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/hand_r2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.480626 -0.427921 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/hand_r2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hand_l2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.017429434898841967 -0.09318478505338218 3.087584264016563e-05"/>
    <mass value="5.421748905707581"/>
    <inertia ixx="0.040745" ixy="-0.01139" ixz="1e-06" iyy="0.053958" iyz="1e-05" izz="0.085514"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.562945 0.290722 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/hand_l2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.562945 0.290722 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/hand_l2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_lf2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.08753998128407174 -0.0375381512455456 -2.325768779493087e-05"/>
    <mass value="5.496745732998533"/>
    <inertia ixx="0.057074" ixy="-0.006443" ixz="-8e-06" iyy="0.036268" iyz="0.0" izz="0.08406"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.106996 0.589129 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lf2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.106996 0.589129 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lf2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_lr2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.012394125845452852 -0.09443918181626265 -2.3256028753332325e-05"/>
    <mass value="5.496745521816769"/>
    <inertia ixx="0.047342" ixy="0.012218" ixz="-4e-06" iyy="0.046" iyz="-6e-06" izz="0.08406"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.45226 0.468421 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lr2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.45226 0.468421 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lr2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_rr2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.09514266696341267 -0.0044948270808381485 -2.3255762339136066e-05"/>
    <mass value="5.4967454746112985"/>
    <inertia ixx="0.048035" ixy="-0.01216" ixz="7e-06" iyy="0.045307" iyz="-4e-06" izz="0.08406"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.347758 -0.564563 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rr2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.347758 -0.564563 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rr2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_rf2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.05242043890110512 0.07952614086826004 -2.3257599438164522e-05"/>
    <mass value="5.496745732971773"/>
    <inertia ixx="0.056692" ixy="0.007023" ixz="7e-06" iyy="0.036651" iyz="4e-06" izz="0.08406"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.237978 -0.531564 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rf2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.237978 -0.531564 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rf2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hand_r3_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.2108870867045619 0.11530048082345068 -7.775143472371626e-05"/>
    <mass value="3.8061590326848598"/>
    <inertia ixx="0.048762" ixy="0.062941" ixz="8.1e-05" iyy="0.128237" iyz="-1.4e-05" izz="0.168766"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.707175 -0.497378 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/hand_r3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.707175 -0.497378 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/hand_r3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hand_l3_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.20097649060689748 -0.1318171395747429 -7.775225994804957e-05"/>
    <mass value="3.8061590028633323"/>
    <inertia ixx="0.058368" ixy="-0.068064" ixz="5.1e-05" iyy="0.118631" iyz="6.5e-05" izz="0.168766"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.730842 0.457934 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/hand_l3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.730842 0.457934 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/hand_l3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_lf3_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.04792001735294599 -0.1507689017136601 5.130818214404975e-05"/>
    <mass value="2.8694208803176533"/>
    <inertia ixx="0.075318" ixy="-0.020059" ixz="-0.000113" iyy="0.016876" iyz="3.9e-05" izz="0.085432"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.230555 0.792188 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lf3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.230555 0.792188 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lf3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_lr3_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.10520820747005344 -0.11814710360541836 9.067633062631586e-06"/>
    <mass value="2.869420874736387"/>
    <inertia ixx="0.049604" ixy="0.035176" ixz="0.000192" iyy="0.042422" iyz="0.000129" izz="0.0856"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.563827 0.678308 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lr3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.563827 0.678308 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lr3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_rr3_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.10901055205551313 0.11464866658679773 9.067940933138452e-06"/>
    <mass value="2.8694208747363423"/>
    <inertia ixx="0.048272" ixy="-0.035287" ixz="0.000184" iyy="0.043754" iyz="-0.000122" izz="0.085601"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.547636 -0.693204 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rr3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.547636 -0.693204 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rr3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_rf3_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.042985346780684885 0.1522485664947434 3.4668530500547856e-06"/>
    <mass value="2.869420880317729"/>
    <inertia ixx="0.076048" ixy="0.018955" ixz="-0.000135" iyy="0.016148" iyz="2e-06" izz="0.085431"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.246599 -0.769105 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rf3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.246599 -0.769105 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rf3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="gripper_r1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.006633476330589971 0.05875256166629983 0.0007546205361720626"/>
    <mass value="0.8115245649704613"/>
    <inertia ixx="0.000547" ixy="0.00017" ixz="1.4e-05" iyy="0.000966" iyz="-6e-06" izz="0.00123"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="1.156416 -0.701033 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/gripper_r1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="1.156416 -0.701033 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/gripper_r1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="gripper_r2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.061170140982123034 0.03655492552036688 0.0015874176095370118"/>
    <mass value="0.4199999999999606"/>
    <inertia ixx="0.000725" ixy="0.000176" ixz="8e-06" iyy="0.000913" iyz="-4e-06" izz="0.001018"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="1.218392 -0.784283 -0.145129"/>
    <geometry>
      <mesh filename="test_description/meshes/gripper_r2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="1.218392 -0.784283 -0.145129"/>
    <geometry>
      <mesh filename="test_description/meshes/gripper_r2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="gripper_l1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.056537334569805475 0.024420141642577664 0.0007546211058035157"/>
    <mass value="0.8115251594006387"/>
    <inertia ixx="0.000625" ixy="-0.000227" ixz="1.3e-05" iyy="0.000869" iyz="8e-06" izz="0.001211"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="1.122202 0.758056 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/gripper_l1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="1.122202 0.758056 -0.143"/>
    <geometry>
      <mesh filename="test_description/meshes/gripper_l1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="gripper_l2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.0610397155418787 -0.036770967920740416 0.0015874176095253267"/>
    <mass value="0.41999999999996346"/>
    <inertia ixx="0.000725" ixy="-0.000176" ixz="7e-06" iyy="0.000913" iyz="5e-06" izz="0.001018"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="1.230226 0.764561 -0.145129"/>
    <geometry>
      <mesh filename="test_description/meshes/gripper_l2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="1.230226 0.764561 -0.145129"/>
    <geometry>
      <mesh filename="test_description/meshes/gripper_l2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_lf_wheel_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.016242414159658713 -0.004872508866690328 0.055465438047704166"/>
    <mass value="1.3999999999999395"/>
    <inertia ixx="0.001441" ixy="-1.2e-05" ixz="0.000135" iyy="0.001405" iyz="-4.1e-05" izz="0.001863"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.390147 1.255886 -0.095185"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lf_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.390147 1.255886 -0.095185"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lf_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_lr_wheel_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.029001189150378637 0.02668132940421364 -0.042555838916023325"/>
    <mass value="1.399999999999941"/>
    <inertia ixx="0.001528" ixy="0.000116" ixz="-0.000185" iyy="0.001509" iyz="-0.00017" izz="0.001674"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.866904 1.065301 -0.179686"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lr_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.866904 1.065301 -0.179686"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_lr_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_rr_wheel_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.029001017009242402 -0.02668165103436837 -0.04255583891602421"/>
    <mass value="1.3999999999999413"/>
    <inertia ixx="0.001528" ixy="-0.000116" ixz="-0.000185" iyy="0.001509" iyz="0.00017" izz="0.001674"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.858073 -1.073426 -0.179686"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rr_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.858073 -1.073426 -0.179686"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rr_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg_rf_wheel_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.01596417537026429 -0.004789304382883941 -0.05555357995877014"/>
    <mass value="1.3999999999999404"/>
    <inertia ixx="0.00144" ixy="1.1e-05" ixz="0.000133" iyy="0.001405" iyz="4e-05" izz="0.001865"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.368848 -1.244005 -0.190891"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rf_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.368848 -1.244005 -0.190891"/>
    <geometry>
      <mesh filename="test_description/meshes/leg_rf_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="base_hand_r" type="revolute">
  <origin rpy="0 0 0" xyz="-0.358862 0.261568 0.128"/>
  <parent link="base_link"/>
  <child link="hand_r1_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
  <limit effort="100" lower="-1.047198" upper="1.047198" velocity="100"/>
</joint>

<joint name="base_hand_l" type="revolute">
  <origin rpy="0 0 0" xyz="-0.358862 -0.261568 0.128"/>
  <parent link="base_link"/>
  <child link="hand_l1_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
  <limit effort="100" lower="-1.047198" upper="1.047198" velocity="100"/>
</joint>

<joint name="base_leg_lf" type="revolute">
  <origin rpy="0 0 0" xyz="-0.120405 -0.38674 0.128"/>
  <parent link="base_link"/>
  <child link="leg_lf1_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
  <limit effort="100" lower="-0.785398" upper="0.785398" velocity="100"/>
</joint>

<joint name="base_leg_lr" type="revolute">
  <origin rpy="0 0 0" xyz="0.271368 -0.376665 0.128"/>
  <parent link="base_link"/>
  <child link="leg_lr1_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
  <limit effort="100" lower="-1.047198" upper="1.047198" velocity="100"/>
</joint>

<joint name="base_leg_rr" type="revolute">
  <origin rpy="0 0 0" xyz="0.271368 0.376665 0.128"/>
  <parent link="base_link"/>
  <child link="leg_rr1_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
  <limit effort="100" lower="-1.047198" upper="1.047198" velocity="100"/>
</joint>

<joint name="base_leg_rf" type="revolute">
  <origin rpy="0 0 0" xyz="-0.120405 0.38674 0.128"/>
  <parent link="base_link"/>
  <child link="leg_rf1_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
  <limit effort="100" lower="-0.785398" upper="0.785398" velocity="100"/>
</joint>

<joint name="hand_r1_r2" type="revolute">
  <origin rpy="0 0 0" xyz="-0.121764 0.166353 0.015"/>
  <parent link="hand_r1_1"/>
  <child link="hand_r2_1"/>
  <axis xyz="0.514496 0.857493 -0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="hand_l1_l2" type="revolute">
  <origin rpy="0 0 0" xyz="-0.204083 -0.029154 0.015"/>
  <parent link="hand_l1_1"/>
  <child link="hand_l2_1"/>
  <axis xyz="-0.514496 0.857493 -0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="leg_lf1_lf2" type="revolute">
  <origin rpy="0 0 0" xyz="0.013409 -0.202389 0.015"/>
  <parent link="leg_lf1_1"/>
  <child link="leg_lf2_1"/>
  <axis xyz="-0.957826 0.287348 0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="leg_lr1_lr2" type="revolute">
  <origin rpy="0 0 0" xyz="0.180892 -0.091756 0.015"/>
  <parent link="leg_lr1_1"/>
  <child link="leg_lr2_1"/>
  <axis xyz="0.735931 0.677057 -0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="leg_rr1_rr2" type="revolute">
  <origin rpy="0 0 0" xyz="0.07639 0.187898 0.015"/>
  <parent link="leg_rr1_1"/>
  <child link="leg_rr2_1"/>
  <axis xyz="0.735931 -0.677057 0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="leg_rf1_rf2" type="revolute">
  <origin rpy="0 0 0" xyz="-0.117573 0.144824 0.015"/>
  <parent link="leg_rf1_1"/>
  <child link="leg_rf2_1"/>
  <axis xyz="0.957826 0.287348 0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="hand_r2_r3" type="revolute">
  <origin rpy="0 0 0" xyz="-0.226549 0.069457 0.0"/>
  <parent link="hand_r2_1"/>
  <child link="hand_r3_1"/>
  <axis xyz="-0.514496 -0.857493 -0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="hand_l2_l3" type="revolute">
  <origin rpy="0 0 0" xyz="-0.167897 -0.167212 0.0"/>
  <parent link="hand_l2_1"/>
  <child link="hand_l3_1"/>
  <axis xyz="0.514496 -0.857493 -0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="leg_lf2_lf3" type="revolute">
  <origin rpy="0 0 0" xyz="-0.123559 -0.203059 0.0"/>
  <parent link="leg_lf2_1"/>
  <child link="leg_lf3_1"/>
  <axis xyz="-0.957826 0.287348 -0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="leg_lr2_lr3" type="revolute">
  <origin rpy="0 0 0" xyz="0.111567 -0.209887 0.0"/>
  <parent link="leg_lr2_1"/>
  <child link="leg_lr3_1"/>
  <axis xyz="-0.735931 -0.677057 0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="leg_rr2_rr3" type="revolute">
  <origin rpy="0 0 0" xyz="0.199878 0.128641 0.0"/>
  <parent link="leg_rr2_1"/>
  <child link="leg_rr3_1"/>
  <axis xyz="0.735931 -0.677057 -0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="leg_rf2_rf3" type="revolute">
  <origin rpy="0 0 0" xyz="-0.008621 0.237541 0.0"/>
  <parent link="leg_rf2_1"/>
  <child link="leg_rf3_1"/>
  <axis xyz="0.957826 0.287348 0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="hand_r3_gripper_r1" type="revolute">
  <origin rpy="0 0 0" xyz="-0.449241 0.203655 0.0"/>
  <parent link="hand_r3_1"/>
  <child link="gripper_r1_1"/>
  <axis xyz="0.514496 0.857493 -0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="gripper_r1_r2" type="revolute">
  <origin rpy="0 0 0" xyz="-0.061976 0.08325 0.002129"/>
  <parent link="gripper_r1_1"/>
  <child link="gripper_r2_1"/>
  <axis xyz="0.857282 -0.514369 -0.02218"/>
  <limit effort="100" lower="-3.141593" upper="3.141593" velocity="100"/>
</joint>

<joint name="hand_l3_gripper_l1" type="revolute">
  <origin rpy="0 0 0" xyz="-0.39136 -0.300122 0.0"/>
  <parent link="hand_l3_1"/>
  <child link="gripper_l1_1"/>
  <axis xyz="0.514496 -0.857493 0.0"/>
  <limit effort="100" lower="-1.919862" upper="1.919862" velocity="100"/>
</joint>

<joint name="gripper_l1_l2" type="revolute">
  <origin rpy="0 0 0" xyz="-0.108024 -0.006505 0.002129"/>
  <parent link="gripper_l1_1"/>
  <child link="gripper_l2_1"/>
  <axis xyz="0.857282 0.514369 -0.02218"/>
  <limit effort="100" lower="-3.141593" upper="3.141593" velocity="100"/>
</joint>

<joint name="leg_lf_wheel" type="continuous">
  <origin rpy="0 0 0" xyz="-0.159592 -0.463698 -0.047815"/>
  <parent link="leg_lf3_1"/>
  <child link="leg_lf_wheel_1"/>
  <axis xyz="0.280041 -0.084012 0.956305"/>
</joint>

<joint name="leg_lr_wheel" type="continuous">
  <origin rpy="0 0 0" xyz="0.303077 -0.386993 0.036686"/>
  <parent link="leg_lr3_1"/>
  <child link="leg_lr_wheel_1"/>
  <axis xyz="0.500022 0.46002 -0.73373"/>
</joint>

<joint name="leg_rr_wheel" type="continuous">
  <origin rpy="0 0 0" xyz="0.310437 0.380222 0.036686"/>
  <parent link="leg_rr3_1"/>
  <child link="leg_rr_wheel_1"/>
  <axis xyz="0.500022 -0.46002 -0.73373"/>
</joint>

<joint name="leg_rf_wheel" type="continuous">
  <origin rpy="0 0 0" xyz="-0.122249 0.4749 0.047891"/>
  <parent link="leg_rf3_1"/>
  <child link="leg_rf_wheel_1"/>
  <axis xyz="-0.275241 -0.082572 -0.957822"/>
</joint>

</robot>
